html, body{
    margin: 0;
}

button {
	margin-top: 35px;
	background: none;
	border: none;
}

button:hover, button:focus {
	outline: none;
}

.container {
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

.revers {
	flex-direction: row-reverse;
}

.usd, .uah {
	text-align: center;
}